tbody.js_op_table_body_prepick > tr.success_prepick > td {
    background-color: #dff0d8;
}

tbody.js_op_table_body_prepick > tr.danger_prepick > td {
    background-color: #f2dede;
}

tbody.js_op_table_body_todo > tr.success_todo > td {
    background-color: #dff0d8;
}

tbody.js_op_table_body_todo > tr.danger_todo > td {
    background-color: #f2dede;
}
