tr.abc-packop.unfinished {
    background-color: #FFFAD8;
}

tr.abc-packop.finished {
    background-color: #DFF0D8;
}

tr.abc-packop.qty-over {
    background-color: #F2DEDE;
}

button.js_backorder {
    margin-right: 100px;
}

.dn_unifaun_input {
    width: 100px;
}

@media (max-width: 768px) {
}

/*
Hiding input spinner. Proudly stolen from stack overflow.
*/
input.js_qty::-webkit-outer-spin-button,
input.js_qty::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.js_qty[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.abc-message-area {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 1em;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
/*
      background: #333;
      * border: 1px solid #000;
      color: #fff;
*/
}

.abc-message-warning {
    color: red;
}

p.abc-message-row {
    margin: 0 0 0 0;
}

.abc-message-chevron {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

.abc-message-chevron i, .abc-message-chevron a{
    color: inherit;
    display: inline;
}

.abc-op-qty-minus, .abc-op-qty-plus {
    font-size: 200%;
    border: 2px solid #0000; /* #00000000 */
}
