tr.current_unfinished, tr.unfinished {
    background-color: #FF8700;
}

tr.current_finished {
    background-color: #DFF0D8;
}

tr.notbelong {
    background-color: #FF0;
}
button.js_backorder {
    margin-right: 100px;
}
.dn_unifaun_input {
    width: 100px;
}
@media (max-width: 768px) {
}

/*
Hiding input spinner. Proudly stolen from stack overflow.
*/
input.js_qty::-webkit-outer-spin-button,
input.js_qty::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.js_qty[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
