#quick_move_wrapwrap {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.quickmove-btn {
    height: 30px;
    padding-top: 10px;
}

#quick_move_logo {
	max-height: 50px;
	margin: auto;
	display: block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media only screen and (max-width: 768px) {
}
